# MongoDB connection string
DB_URL=mongodb+srv://<username>:<password>@cluster.mongodb.net/your-db-name

# Node environment
NODE_ENV=production

# Port (not needed on Vercel but useful for local testing)
PORT=6001
